<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>
<form action="#" th:action="@{/employee-create}" th:object="${employee}" method="post">
    <label for="fullName">First name</label>
    <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full Name">
    <label for="shopName">Shop name</label>
    <input type="text" th:field="*{shopName}" id="shopName" placeholder="Shop Name">
    <label for="post">Post</label>
    <input type="text" th:field="*{post}" id="post" placeholder="Post">
    <label for="number">Number</label>
    <input type="text" th:field="*{number}" id="number" placeholder="Number">
    <input type="submit" value="Create Employee">
</form>
</body>
</html>