<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
</head>
<body>
<form action="#" th:action="@{/employee-update}" th:object="${employee}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="fullName">Full name</label>
    <input type="text" th:field="*{fullName}" id="fullName" placeholder="Full Name">
    <br/>
    <label for="shopName">Shop name</label>
    <input type="text" th:field="*{shopName}" id="shopName" placeholder="Shop Name">
    <br/>
    <label for="post">Post</label>
    <input type="text" th:field="*{post}" id="post" placeholder="Post">
    <br/>
    <label for="number">Number</label>
    <input type="text" th:field="*{number}" id="number" placeholder="Number">
    <br/>
    <input type="submit" value="Update Employee">
</form>
</body>
</html>