<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update good in stock</title>
</head>
<body>
<form action="#" th:action="@{/goodsinstock-update}" th:object="${goodsinstock}" method="post">
    <label for="stockId">Stock ID</label>
    <input type="text" th:field="*{stockId}" id="stockId" placeholder="Stock ID">
    <br/>
    <label for="goodId">Good ID</label>
    <input type="text" th:field="*{goodId}" id="goodId" placeholder="Good ID">
    <br/>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <br/>
    <label for="value">Value</label>
    <input type="text" th:field="*{value}" id="value" placeholder="Value">
    <br/>
    <input type="submit" value="Update Good In Stock">
</form>
</body>
</html>