<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create good</title>
</head>
<body>
<form action="#" th:action="@{/good-create}" th:object="${good}" method="post">
    <label for="type">Type</label>
    <input type="text" th:field="*{type}" id="type" placeholder="Type">
    <label for="shopId">Shop id</label>
    <input type="text" th:field="*{shopId}" id="shopId" placeholder="Shop Id">
    <label for="quantity">Quantity</label>
    <input type="text" th:field="*{quantity}" id="quantity" placeholder="Quantity">
    <input type="submit" value="Create Employee">
</form>
</body>
</html>