<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Goods</title>
</head>
<body>
<div th:switch="${goods}">
    <h2 th:case="null">No good found!</h2>
    <div th:case="*">
        <h2>Goods</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="good : ${goods}">
                <td th:text="${good.id}"></td>
                <td th:text="${good.name}"></td>
                <td><a th:href="@{good-update/{id}(id=${good.id})}">Edit</a></td>
                <td><a th:href="@{good-delete/{id}(id=${good.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/good-create">Create good</a></p>
</div>
</body>
</html>