<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Prices</title>
</head>
<body>
<div th:switch="${prices}">
    <h2 th:case="null">No price found!</h2>
    <div th:case="*">
        <h2>Prices</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Shop id</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="price : ${prices}">
                <td th:text="${price.id}"></td>
                <td th:text="${price.shopId}"></td>
                <td th:text="${price.value}"></td>
                <td><a th:href="@{price-update/{id}(id=${price.id})}">Edit</a></td>
                <td><a th:href="@{price-delete/{id}(id=${price.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/price-create">Create price</a></p>
</div>
</body>
</html>