<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update price</title>
</head>
<body>
<form action="#" th:action="@{/price-update}" th:object="${price}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="shopId">Shop id</label>
    <input type="text" th:field="*{shopId}" id="shopId" placeholder="Shop Id">
    <br/>
    <label for="value">Value</label>
    <input type="text" th:field="*{value}" id="value" placeholder="Value">
    <br/>
    <input type="submit" value="Update Price">
</form>
</body>
</html>