<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create price</title>
</head>
<body>
<form action="#" th:action="@{/price-create}" th:object="${price}" method="post">
    <label for="shopId">Shop Id</label>
    <input type="text" th:field="*{shopId}" id="shopId" placeholder="Shop Id">
    <label for="value">Values</label>
    <input type="text" th:field="*{value}" id="value" placeholder="Value">
    <input type="submit" value="Create Price">
</form>
</body>
</html>